.catalog {
  display: flex;
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 16px 0 0 16px;
  padding: 12px;
}

.preview {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.name {
  color: grey;
  text-transform: uppercase;
  margin-top: 4px;
}

.price {
  color: #5dadf2;
  margin-top: 6px;
}
