<div class="branches-page">
    <div class="content">
        <section class="first ui">
            <input class="searchbar" type="text"
                   placeholder="Type to search by a city name, address..."
                   ng-change="createMarkers(branches | filter:search)"
                   ng-model="search">
            <hr>
            <div class="results">
                <article ng-repeat="branch in branches | filter:search">
                    <h1 class="branch-header">{{branch.name}}</h1>
                    <span class="details">{{branch.address}}, {{branch.city}}</span>
                </article>
            </div>
        </section>
        <section id="map"></section>
    </div>
</div>


