<div>
    <form name="userForm" ng-if="!$ctrl.hasLoggedIn">
        <md-input-container>
            <label>Email</label>
            <input name="email" ng-model="$ctrl.email" required type="email">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input name="password" ng-model="$ctrl.password" required type="password" >
        </md-input-container>
        <md-button  type="submit" class="md-raised" ng-mouseup="$ctrl.signin()">sign in</md-button>
    </form>
    <div ng-if="$ctrl.hasLoggedIn"> welcome cunt! </div>
</div>