@import "main/main.scss";
@import "authentication/authentication.scss";

$lightPrimary: rgba(255, 255, 255, 0.9);
$darkPrimary: rgba(0, 0, 0, 0.90);
$fontSize: 1em;

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: $lightPrimary;
    padding: 0;
    margin: 0;
    font-size: $fontSize;
}

.attachedItem {
    background-color: $darkPrimary;
    width: 100%;
    display: flex;
    z-index: 1;
    left: 0;
    position: fixed;
}

.topAttach {
    top: 0;
}

.botAttach {
    bottom: 0;
}

.navBarMenu {
    height: 5vh;
}

.footerSection {
    height: 3vh;
}

.footerParagraph {
    margin: auto;
    color: $lightPrimary;
}

.ngViewDiv {
    margin-top: 5vh;
    margin-bottom: 3vh;
    width: 100%;
}