html {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.attachedItem {
    background-color: #333;
    width: 100%;
    display: flex;
    z-index: 1;
    left: 0;
    position: fixed;
}

.topAttach {
    top: 0;
}

.botAttach {
    bottom: 0;
}

.navBarMenu {
    color: rgb(0,0,0);
    background-color: rgb(247, 247, 247);
    font-weight: bold
}

.footerSection {
    height: 3vh;
    background-color: rgb(247, 247, 247);
}

.footerParagraph {
    margin: auto;
    color: rgba(125, 121, 123, 0.8);
}

.ngViewDiv {
    margin-top: 5vh;
    margin-bottom: 3vh;
    width: 75%;
    float: left;
}

.chatContainer {
    margin-top: 5vh;
    margin-bottom: 3vh;
    width: 25%;
    float: right;
    background-image: url("images/ikea-pic.jpg")
}

.menu {
    list-style-type: none;
    width: 100%;
    margin: 10;
    padding: 0;
    overflow: visible;
    display: block;
}

.menu li {
    height: 100%;
    display: inline-block;
    list-style-type: none;
    margin-right: 30;
    margin-left: 30;
}

.menu li a {
    color: rgba(0, 0, 0, 0.8);
    height: 100%;
    display: block;
    text-decoration: none;
    font-size: 1.3em
}
.menu li a:hover {
    border-bottom: 2px solid rgb(32,56,100);
}

.menu li:first-child {
    margin-left: 20;
}

.menu li:first-child a {
    font-size: 2em;
}
 
.menu li:last-child {
    float:right;
}