$lightPrimary: rgba(255, 255, 255, 0.8);
$lightSecondary: rgb(255, 255, 255);
$darkPrimary: #333;
$darkSecondary: #111;
$fontSize: 1em;
$navBarHeight: 5vh;
$footerHeight: 3vh;

@import "main/main.scss";
@import "authentication/authentication.scss";
@import "register/register.scss";

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: $lightPrimary;
    padding: 0;
    margin: 0;
    font-size: $fontSize;
}

.attachedItem {
    background-color: $darkPrimary;
    width: 100%;
    display: flex;
    z-index: 1;
    left: 0;
    position: fixed;
}

.topAttach {
    top: 0;
}

.botAttach {
    bottom: 0;
}

.navBarMenu {
    height: $navBarHeight;
}

.footerSection {
    height: $footerHeight;
}

.footerParagraph {
    margin: auto;
    color: $lightPrimary;
}

.ngViewDiv {
    margin-top: $navBarHeight;
    margin-bottom: $footerHeight;
    width: 100%;
}

.menu {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        margin-right: 1vh;
        float: left;
        height: 100%;

        a {
            color: $lightPrimary;
            font-size: 3vh;
            height: 100%;
            display: block;
            text-decoration: none;
        }
        a:hover {
            background-color: $darkSecondary;
        }
    }

    li:first-child {
        margin-right: $navBarHeight;

        a {
            font-size: $navBarHeight;
        }
        
        a:hover {
            background-color: $darkPrimary;
        }
    }

    li:last-child {
        float: right;
        margin-left: $navBarHeight;

        a:hover {
            background-color: $darkPrimary;
        }
    }
}