<form name="userForm">
    <md-input-container>
        <label>Name</label>
        <input name="name" ng-model="ctrl.model.Name" required type="text" ng-pattern="/^[a-zA-Z]+$/">
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input name="email" ng-model="ctrl.model.Email" required  type="email">
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input name="password" ng-model="ctrl.model.Password" required invalid type="password" >
    </md-input-container>
    <md-button  type="submit" class="md-raised startMyJourneybtn" ng-mouseup="ctrl.register()">register</md-button>
</form>