<h2>Management</h2>
<div>
    <div id="service">
        <p ng-if="usd_ils">
                1 USD IS {{usd_ils}} NIS
        </p>
    </div>
    <div id="charts">
        <h4>How many products of each brand?</h4>
        <svg id="barChart1"></svg>
        <h4>How many products of each category?</h4>
        <svg id="barChart2"></svg>
    </div>
    <div id="twitterAPI">
        <div class="twitterpost">
            <input type="text" placeholder="Tweet..." id="tweet-input" ng-model="myTweet"> 
            <button id="tweet-button" type="button" ng-click="postTweet(myTweet)">Go!</button>
        </div>
    </div>
    <br />
    <div id="productManagement">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Save/Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products">
                <td>
                    <span>
                        <input type="text" class="editable-cell" ng-model="product.name" />
                    </span>
                </td>
                <td>
                    <span>
                        <input type="text" class="editable-cell" ng-model="product.price" />
                    </span>
                </td>
                <td>
                    <span>
                        <input type="text" class="editable-cell" ng-model="product.description" />
                    </span>
                </td>
                <td>
                    <span>
                        <input type="text" class="editable-cell" ng-model="product.category" />
                    </span>
                </td>
                <td>
                    <span>
                        <input type="text" class="editable-cell" ng-model="product.brand" />
                    </span>
                </td>
                <td>
                    <button ng-click="saveRow(product)">Save</button>
                    <button ng-click="deleteRow(product)">Delete</button>
                </td>
            </tr>
            <tr>
                <button ng-click="addNewRow()">add new row</button>
            </tr>
            </tbody>
        </table>
    </div>
    <p ng-if="mostshowncat">the most added category is : {{mostshowncat}}<p>
</div>